

body{
    background-color: rgb(129, 254, 244);

}

h2{
    text-align: center;
}
footer{
    text-align: center;
}

* {
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bubblegum Sans', sans-serif;
    text-align: center;
}

/*para lo del menu*/
header {
    background-color: rgb(142, 129, 254);
    color: white;
    text-align: center;
    margin: auto;
}
header nav {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}
header nav ul li {
    position: relative;
    margin: 0 10px;
}

header nav ul li a {
    color:   rgb(129, 254, 244);
    text-decoration: none;
    font-size: 20px;
    padding: 20px 30px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    display: block;
}
header nav ul li a:hover {
    background-color: rgb(129, 254, 244);
    color: white;
}

@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
        align-items: center;
    }

    header nav ul li {
        margin: 5px 0;
    }

    header nav ul li a {
        padding: 10px 20px;
        font-size: 18px;
    }

    header nav ul li ul {
        position: static;
        width: 100%;
    }

    header nav ul li ul li {
        padding: 5px 0;
    }
    header nav ul li ul li a {
        font-size: 16px;
    }
}

/*mediana*/
@media (min-width: 769px) and (max-width: 1024px) {
    header nav ul {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    header nav ul li {
        margin: 10px;
    }

    header nav ul li a {
        padding: 15px 25px;
        font-size: 20px;
    }

    header nav ul li ul {
        position: absolute;
    }

    header nav ul li ul li {
        padding: 10px 15px;
    }

    header nav ul li ul li a {
        font-size: 18px;
    }
}

/*grandes*/
@media (min-width: 1025px) {
    header nav ul {
        flex-direction: row;
        justify-content: center;
    }

    header nav ul li {
        margin: 0 15px;
    }

    header nav ul li a {
        padding: 20px 30px;
        font-size: 20px;
    }

    header nav ul li ul {
        position: absolute;
    }

    header nav ul li ul li {
        padding: 10px 20px;
    }

    header nav ul li ul li a {
        font-size: 18px;
    }
}

/*para las tablas*/
table {
    width: 50%;
    margin: 0 auto; 
    border-collapse: collapse; 
}

th, td {
    border: 1px solid black; 
    padding: 10px;
    text-align: center;
}

/*para boton*/
#upButton {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px; 
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(142, 129, 254);
    color: white;
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px;
}

/*para mi dibujito*/
img{
    width: 100%;
    max-width: 400px;
    height: auto;
    transition: transform 0.2s ease;

}
img:hover{
   transform: scale(1.3);
}

@media (max-width: 768px) {
   img {
      max-width: 200px; 
    }
  }
  
  @media (max-width: 480px) {
    img {
      max-width: 150px; 
    }
  }

